@model TModel

@{
    ViewData["Title"] = "Course Creation";
    Layout = "_Layout";
}

<main>
    <section>
        <h4>Courses</h4>
        <table>
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
    <section>
        <form>
            
        </form>
    </section>
</main>
