@model BA_MT.Models.Course

@{
    ViewData["Title"] = "Course Creation";
    Layout = "_Layout";
}

<main>
    <section>
        @Html.ValidationSummary(false, "", new {@class="text-danger"})
        <form asp-action="Create">
            <fieldset>
                <legend>Course Info</legend>
                <label asp-for="Code"></label>
                <input asp-for="Code"/>
                <label asp-for="Title"></label>
                <input asp-for="Title"/>
                <label asp-for="Credits"></label>
                <input asp-for="Credits"/>
            </fieldset>
            <input type="submit" value="Add Course"/>
        </form>
    </section>
</main>
