<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Assessment Centers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-group>
    <div *ngFor="let centre of this.assCentres; index as i">
      <ion-item button (click)="goToDetails(i)">
        <ion-label>{{centre.location_name}}</ion-label>
      </ion-item>
    </div>
  </ion-item-group>
</ion-content>
