@{
    ViewData["Title"] = "Assignment 1";
    Layout = "_Layout";
}

<section class="home">
    <h1>Benjamin Ahola - Assignment 1</h1>
    <a asp-controller="Student" asp-action="Index">Student Directory</a>
</section>
