@model BA_MT.Models.Student

@{
    ViewData["Title"] = "Edit Student";
    Layout = "_Layout";
}

<main>
    <section>
        @Html.ValidationSummary(false, "", new {@class="text-danger"})
        <form asp-action="Edit">
            <fieldset class="form-fields">
                <legend>Student Information</legend>
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName"/>
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName"/>
                <label asp-for="Birthday">Birthday</label>
                <input type="date" min="1981-01-01" max="2000-12-31" value="1990-12-25" asp-for="Birthday"/>
            </fieldset>
            <input asp-for="Id" hidden />
            <input type="submit" value="Update Student Info" />
        </form>
        <a asp-action="Index">Back to student directory</a>
    </section>
</main>
