@model BA_MT.Models.EnrollmentViewModel

@{
    ViewData["Title"] = "Enroll Student";
    Layout = "_Layout";
}

<main>
    <!-- TODO: Update this so that we can see what courses the student is already enrolled in -->
    <section>
        <h3>Course Enrollment</h3>
        <form asp-action="Enroll">
            <label>Available Courses</label>
            @Html.DropDownListFor(m => m.SelectedCourseCode,
                (IEnumerable<SelectListItem>) ViewData["AvailableCourses"]);
            <input asp-for="StudentId" hidden/>
            <input type="submit" value="Add Course"/>
        </form>
    </section>
    <section>
        <a asp-action="Index">Back to student directory</a>
    </section>
</main>